body{
    background-color: cornflowerblue;
}

#name{
    margin-left: 15px;
}
#temp{
    margin-left: 10px;
}
#cast{
    margin-left: 10px;
}
#shine{
    margin-left: 12px;
}
#comp{
    margin-left: 15px;
}
#fair{
    margin-left: 10px;
}
#shall{
    margin-left: 40px;
}
#thou{
    margin-left: 20px;
}
#brag{
    margin-left: 7px;
}
#grow{
    margin-left: 30px;
}
#eyes{
    margin-left: 15px;
}
#give{
    margin-left: 20px;
}